---
import { getCollection } from 'astro:content';

const lessons = await getCollection('lessons');
const noviceLessons = await getCollection('lessons', ({id}) => {
    return id.startsWith('novice/getting-started');
})
---

    {lessons.map(lesson => (
        <h1>{lesson.data.title}</h1>
        <h2>{lesson.data.lastUpdated}</h2>
        <p>{lesson.data.description}</p>
    ))}

    {noviceLessons.map(lesson => (
        <h1>{lesson.data.title}</h1>
        <h2>{lesson.data.lastUpdated}</h2>
        <p>{lesson.data.description}</p>
    ))}